body {    
    background: var(--cinza);
    color: var(--laranja);
}

main{
    max-width: 1981px;
}

/* .home {
    padding-left: 15rem;
    padding-right: 15rem;
} */

#signUpButton,
#signInButton {
    width: 100%;
}

.btn-custom {
    background-color: var(--laranja);
    border-color: var(--laranja);
}

.btn-custom:hover {
    background-color: var(--pana);
    border-color: var(--laranja-l);
}

.bi,
.rights {
    color: var(--laranja) !important;
}

.card-login {
    background-color: #444;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000000;
}



@media screen and (max-width: 990px) {
    #img {
        display: none !important;        
    }
}

@media screen and (min-width: 990px) and (max-width: 1350px) {
    #img {
        padding-right: 5rem !important;
    }
}

@media screen and (min-width: 1351px) {    
    .card-login {
        margin-left: 25% !important;
    }
}
