body {
    background: var(--cinza);
    color: var(--laranja);
}

#task-manager{
    width: 70%;
}

.my-table {
    width: 100%;
}

.open-modal {
    cursor: pointer;
}


.btn-custom {
    width: 130px;
    background-color: var(--laranja);
    border-color: var(--laranja);
}

.btn-custom:hover {
    background-color: var(--pana);
    border-color: var(--laranja-l);
    color: #222;
}

.btn-custom-b {
    width: 165px;
    background-color: var(--laranja);
    border-color: var(--laranja);
}

.btn-custom-b:hover {
    background-color: var(--pana);
    border-color: var(--laranja-l);
    color: #222;
}

#delete {
    background-color: var(--vermelho);
    border-color: var(--vermelho);
}

#delete:hover {
    background-color: var(--vermelho-l);
    border-color: var(--laranja-l);
}

.btn-mark {
    background-color: var(--verde-l);
    border-color: var(--verde-l);
}

.btn-mark:hover {
    background-color: var(--verde);
    border-color: var(--laranja-l);
}

.btn-gray {
    background-color: #666;
    border-color: #666;
}

.btn-gray:hover {
    background-color: #666;
    border-color: #999;
}

.btn-update {
    width: 70px;
}

th {
    background-color: #212529 !important;
    color: var(--pana-l) !important;
}

td.open-modal .text-container {
    transition: transform 0.3s ease;
}

td.open-modal:hover .text-container {
    transform: translateX(10px);
}


.table th:not(:first-child),
.table td:not(:first-child) {
    text-align: center;
}

.table th:first-child,
.table td:first-child {    
    text-align: left;
    font-weight: bold;
    padding-left: 16px;
}

.table th,
.table td {
    vertical-align: middle;
}



@media screen and (max-width: 990px) {

    #task-manager{
        width: 90%;
        max-width: 500px;
    }
    
    .my-table {
        width: 100%;
    }

    .btn-update {
        width: 70px;
    }

    #btns {
        justify-content: center;
    }

    #btns>a {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1350px) {
    #task-manager {
        width: 60%;
        min-width: 685px;
    }

    .my-table {
        width: 90%;
    }

}

@media screen and (min-width: 1351px) {
    #task-manager {
        width: 40%;
        min-width: 800px;
        max-width: 900px;
    }

    .my-table {        
        max-width: 1090px;
    }
}