
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    font-family: 'Poppins', 'Arial', sans-serif;
}


:root {
    --pana: #ff725e;
    --pana-l: #fff1ef;
    --cinza-l: #edf2f7;
    --branco: #fff;

    --laranja: #fc6520;    
    --cinza: #333;
    --preto: #1b1b1b;
    --laranja-l: #ffe7d0;
    
    --verde: #1d926f;
    --verde-l: #49c7a1;
    --vermelho: #b9383f;
    --vermelho-l: #ca7579;

    --amarelo: #FAD961;
    --laranja-d: #F76B1C;    
}